<p>Thank you.  The code will be sent by <%= @ac_method %>.</p>

<p>When you have the code go to your dashboard (an option on the navigation bar at the top of the screen) to enter it.
You have two weeks to enter the access code, and then this option will be disabled.</p>

<p>If you don't get the access code in <%= @chase %> then please let us know.</p>