<p><%= @greeting %></p>

<p>A rating for a service you are involved in has received a new review on the Good Care Guide site.  You can see it if you
  <%= link_to 'follow this link', @rating.full_url %>.</p>

<p>If you have any problems please visit our support site at http://support.reallycare.org.</p>

<p><%= EMAIL_SIG %></p>
