*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
db/*.sqlite3
log/*.log
log/*.tar.gz
tmp/**/*
*.dat
Harvest*.log
ERD.pdf
doc/*.bak
.rvmrc
.bundle/*
.bundle/**/*
vendor/plugins/**/*
.DS_Store
doc/*.bak
public/system/
tmp
config/database.yml
.idea
.idea/*
.idea/**/*
jenkins/**/*
rcov/**/*
rcov/*
coverage/**/*
coverage/*
spec/coverage/**/*
spec/coverage/*
libs/harvester/log/scraper.log
.sass-cache/
.rvm
lib/harvester/log/scraper.log
