<p id="notice"><%= notice %></p>

<p>
  <b>Regulator description:</b>
  <%= @regulator_service_type.regulator_description %>
</p>


<%= link_to 'Edit', edit_regulator_service_type_path(@regulator_service_type) %> |
<%= link_to 'Back', regulator_service_types_path %>
