<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @internal_service_type.description %>
</p>


<%= link_to 'Edit', edit_internal_service_type_path(@internal_service_type) %> |
<%= link_to 'Back', internal_service_types_path %>
