<p>Regards,</p>
<p>Mark</p>

<div style="padding-top: 6px; padding-right: 6px; padding-bottom: 6px; padding-left: 6px; border-top-width: 1px; border-top-style: dotted; border-top-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(153, 153, 153); color: rgb(164, 56, 112); ">
  <div>
    <strong>Mark Chapman</strong>
    <br>Director
  </div>
  <div>
    <img src="http://www.reallycare.org/uploads/7/4/7/8/7478302/6343719.png" />
  </div>
  <div>
    <img src="http://www.reallycare.org/uploads/7/4/7/8/7478302/8229340.png" />&nbsp;<a href="http://www.reallycare.org/" target="_blank" style="color: rgb(164, 56, 112); text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(164, 56, 112); margin-right: 6px; ">reallycare.org</a>&nbsp;
    <img src="http://www.reallycare.org/uploads/7/4/7/8/7478302/3562758.png" />&nbsp;<a style="text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(164, 56, 112); margin-right: 6px; ">07807 170856</a>&nbsp;
    <img src="http://www.reallycare.org/uploads/7/4/7/8/7478302/8015682.png" />&nbsp;<a href="http://twitter.com/reallycare_mark" target="_blank" style="color: rgb(164, 56, 112); text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(164, 56, 112); margin-right: 6px; ">@reallycare_mark</a>&nbsp;
    <img src="http://www.reallycare.org/uploads/7/4/7/8/7478302/1522709.png" />&nbsp;<a href="http://www.facebook.com/pages/Reallycare-CIC/243040805727017" target="_blank" style="color: rgb(164, 56, 112); text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(164, 56, 112); margin-right: 6px; ">reallycare CIC</a>
  </div>
</div>
