<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @ownership_type.description %>
</p>


<%= link_to 'Edit', edit_ownership_type_path(@ownership_type) %> |
<%= link_to 'Back', ownership_types_path %>
