<div style="color: #222">
  <p>Hi</p>

  <p>I am writing to tell you about a new web site called the Better Care Guide (http://www.bettercareguide.org).</p>

  <p>Better Care Guide is like a "TripAdvisor" for Care and it is the first such site to cover adult social care throughout the
  UK.  It lets users of care services comment on and rank care providers they have used.  Our belief is that this will
  result in improved quality of care.  Better Care Guide can easily be adapted to be the basis of a directory / information portal for your authority - feel
  free to contact us if you are interested in this.  If requested ReallyCare can run it on your behalf for £1,200 per annum.</p>

  <p><%= link_to('Better Care Guide','http://www.bettercareguide.org') %> is the second website from the not-for-profit <%= link_to 'ReallyCare CIC','http://www.reallycare.org' %>
    - if your authority runs a community of volunteers you may be interested in our <%= link_to 'first website','http://www.youangel.org' %>.  All our products
    are open source, so the whole community can benefit from them.
  </p>
</div>

<%= render :partial => "shared/mailing_sig" %>


