<%= render :partial => 'layouts/pictures' %>
<div class="span10">
  <div class="hero-unit">
    <h1>About <%= SITE_TITLE %></h1>
    <p>This site was written over several months over 2010-2011, but was moth-balled for a period while we were concentrating on <%= link_to("another site", "http://www.youangel.org") %>.
    We decided to launch this site because we felt that there was a place for a not-for-profit site such as this.  BetterCareGuide is funded by <%= link_to "contributions", "http://pledgie.com/campaigns/16900",  {:target => "_blank"}  %>.</p>
    <p>Much of the data on this site is Crown Copyright, and was sourced from the Care Quality Commission, Regulation and Quality Improvement Authority, Care Inspectorate and Care and Social Services Inspectorate Wales.</p>
  </div>
</div>