<%= render :partial => 'layouts/pictures' %>
<div class="span8">
  <p>I'm afraid we have not yet written much of the help.  We spent our time making the site easy to use, so you don't need any help.
    Hopefully we have succeeded (people have told us we have) but if you can't figure something out then please visit our <%= link_to "support site", "http://support.reallycare.org" %></p>

<p title="An example hint">One thing that you might find useful that isn't immediately obvious:  The site uses the title attribute to describe many fields.
So if you can't figure out what something is for then you can put your mouse over it
and an explanation will often pop up.  Putting your mouse over this paragraph will
bring up an example.  To keep the site quick we have only put the hints in the header
row of tables, rather than every row</p>

  <p>Enjoy!</p>
  </div>