<%= render :partial => 'layouts/pictures' %>
<div class="span8">
<h1>Open Source</h1>
This website will is open sourced under the <%=  link_to 'Non-Profit Open Software License 3.0', 'http://www.opensource.org/licenses/NOSL3.0', {:target => "_blank"} %>.
If you are interested in contributing or in finding out more about the site please see <%= link_to 'our github page','https://github.com/mchapman/bettercareguide', {:target => "_blank"} %>.
</div>