<%= render :partial => 'layouts/pictures' %>
<div class="span8">
<h1>Open Source</h1>
This website will be open sourced under the MIT license.  If you are interested in contributing to the site before we open-source it please <a href="/pages/contact">chase us</a>,
telling us what skills you can help us with.
</div>