<%= render :partial => 'layouts/pictures' %>
<div class="span8">
  <h1>Privacy Policy</h1>
  <h3>Introduction</h3>
  <p>This Privacy Policy explains how We collect information from you when You visit or register to use the “Website” and how this information is then used. If You have any questions about this statement or your personal information that we may collect from you, please <%= link_to "contact us", "/pages/contact" %>.</p>
  <p>Please read this Privacy Policy carefully and re-visit this page from time to time to review any changes that may have been made.</p>
  <p>We are registered as a data controller in accordance with United Kingdom Data Protection Act 1998. We will process any personal information we collect about you in accordance with the Data Protection Act 1998.</p>
  </p>This Privacy Policy applies to you whether you use the Website as a casual browser or are a Registered User</p>

  <h3> What personal information do we collect, and how is that information then used?</h3>
  </p>We capture and store personal data in your user record, and your IP address against each comment / rating.</p>
  </p>We process the information to ensure that the system is not being 'gamed'.</p>
  </p>We disclose personal information as follows:</p>
  <ul>
  <li>We disclose the category of person you are (user of the service, employee etc)</li>
  <li>We publish your comments without checking them for personal information you have inadvertently included</li>
  <li>We reserve the right to pass on your reviews and the personal data we hold about you to third party not-for-profit organisations provided they agree to adhere to the same privacy constraints</li>
  </ul>
  <p>Internally we use the personal information:</p>
  <ul>
  <li>to moderate the comments</li>
  <li>for administration and to tailor our service and/or products to match your needs. We may also use personal information to conduct market research surveys, for statistical analysis to determine site usage, to run competitions and for direct marketing purposes relating to our business.</li>
  </ul>
    <p>We may employ the services of a third party to help us in certain areas, such as website hosting, marketing and market researching. In some cases that third party may receive your information. However, at all times we will control and be responsible for the use of your information.</p>
    <p>At all times we are legally obliged to collect, retain and process any personal information that you provide in accordance with the Data Protection Act 1998. Each time you provide us with personal information we aim to let you know how we intend to use it and ask you to give your consent to such use. This will include:</p>
  <ul>
  <li>where we would like to use that information to send you details of other services we offer which are similar to the service for which you have Registered; and</li>
  <li>where we would like to share that information with certain selected third parties to allow them to provide you with details of their services and/or products which might be of interest to you.</li>
  </ul>

  <h3> How do we protect your personal information?</h3>
    <p>We will hold your personal information securely and will only keep it for as long as is reasonably necessary in the circumstances You are registered to use the Website or for as long as you use the service that you have requested, unless you have provided us with your consent to use the data for any additional purposes. We take the security of the Website and the information you provide very seriously and we will take all appropriate technical measures using recognized security procedures and tools in accordance with good industry practice to protect your personal information.</p>
    <p>Whilst we use all reasonable endeavours to protect your security in the manner described above, we consider that it is only appropriate to advise users that data transmission over the Internet and the World Wide Web cannot always be guaranteed as 100% secure, and therefore that you use the Website at your own risk.</p>

  <h3> Cookie policy</h3>
    <p>Our Cookie policy can be seen <% link_to 'here.', url_for(cookie_policy_url) %></p>

  <h3> Changes to this privacy policy</h3>
    </p>If we make any changes to this Privacy Policy, these changes will be detailed on this page in order to ensure that you are fully aware of what information is collected, how it is used and under what circumstances it will be disclosed.</p>

  <h3> Links</h3>
    </p>This Privacy Policy applies only to information collected by this Website. The Website may contain links to other websites. Please be aware that we are not responsible for the privacy policies of such other sites and we would advise you to read the privacy statement of any website that collects personal information from you.</p>
</div>