<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @internal_sector_type.description %>
</p>


<%= link_to 'Edit', edit_internal_sector_type_path(@internal_sector_type) %> |
<%= link_to 'Back', internal_sector_types_path %>
