<p id="notice"><%= notice %></p>

<p>
  <b>Regulator description:</b>
  <%= @regulator_score.regulator_description %>
</p>


<%= link_to 'Edit', edit_regulator_score_path(@regulator_score) %> |
<%= link_to 'Back', regulator_scores_path %>
