<p id="notice"><%= notice %></p>

<p>
  <b>Regulator description:</b>
  <%= @regulator_sector_type.regulator_description %>
</p>


<%= link_to 'Edit', edit_regulator_sector_type_path(@regulator_sector_type) %> |
<%= link_to 'Back', regulator_sector_types_path %>
