<div class="span2">
  <%= image_tag("000016532502.png", :alt => "Elderly lady walking with her zimmer frame assisted by care worker", :class => "visible-desktop", :style => "margin-bottom : 10px; width:100%;") %>
  <%= image_tag("000017455975.png", :alt => "Elderly lady being given her lunch by care worker", :class => "visible-desktop", :style => "width:100%;") %>
</div>
